# Задание
1. Создать приложение, которое будет из готового файла с данными «Сбербанка» (https://www.sberbank.com/ru/analytics/opendata) выводить результат по параметрам:
    * Тип данных
    * Интервал дат
    * Область
2. Визуализировать выводимые данные с помощью графика

# Решение

In [8]:
import pandas as pd
from ipywidgets import interact
%matplotlib inline

In [2]:
df = pd.read_csv('http://sbrfdata.ru/opendata.zip', compression='zip', encoding='cp1251')
df.date = pd.to_datetime(df.date, format='%Y-%m-%d', errors='coerce')
df.head(3)

                                           name  region       date   value
0  Количество заявок на потребительские кредиты  Россия 2013-01-15  571147
1  Количество заявок на потребительские кредиты  Россия 2013-02-15  504508
2  Количество заявок на потребительские кредиты  Россия 2013-03-15  628803

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74842 entries, 0 to 74841
Data columns (total 4 columns):
name      74842 non-null object
region    74842 non-null object
date      74842 non-null datetime64[ns]
value     74842 non-null int64
dtypes: datetime64[ns](1), int64(1), object(2)
memory usage: 2.3+ MB

In [5]:
types_values = list(pd.unique(df.name))
regions_values = list(pd.unique(df.region))
print('total types:', len(types_values))
print('total regions:', len(regions_values))

total types: 15
total regions: 84

In [12]:
@interact
def scatter_plot(
        kind=types_values, 
        region=regions_values, 
        date_start='2013-01-01', 
        date_end='2020-01-01',
    ):
    df.loc[df.region==region] \
      .loc[df.name==kind] \
      .loc[df.date>=date_start] \
      .loc[df.date<=date_end] \
      .plot(x='date', y='value', figsize=(12, 6), legend=False, title=f'{kind} ({region})')

interactive(children=(Dropdown(description='kind', options=('Количество заявок на потребительские кредиты', 'С…